{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2019-12-02",
    "asyncClient" : "AWSRoute53RecoveryReadinessAsyncClient",
    "asyncClientBuilderClassName" : "AWSRoute53RecoveryReadinessAsyncClientBuilder",
    "asyncInterface" : "AWSRoute53RecoveryReadinessAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSRoute53RecoveryReadinessModuleInjector",
    "defaultEndpoint" : "route53-recovery-readiness.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "route53-recovery-readiness.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "AWS Route53 Recovery Readiness",
    "endpointPrefix" : "route53-recovery-readiness",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.route53recoveryreadiness",
    "packagePath" : "com/amazonaws/services/route53recoveryreadiness",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Route53 Recovery Readiness",
    "serviceId" : "Route53 Recovery Readiness",
    "serviceName" : "AWS Route53 Recovery Readiness",
    "signingName" : "route53-recovery-readiness",
    "smokeTestsPackageName" : "com.amazonaws.services.route53recoveryreadiness.smoketests",
    "syncClient" : "AWSRoute53RecoveryReadinessClient",
    "syncClientBuilderClassName" : "AWSRoute53RecoveryReadinessClientBuilder",
    "syncInterface" : "AWSRoute53RecoveryReadiness",
    "uid" : "route53-recovery-readiness-2019-12-02",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateCell" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateCellResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateCellResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCellRequest, CreateCellResult>",
      "asyncReturnType" : "CreateCellResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates a new Cell.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "Request was denied due to request throttling.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "The input fails to satisfy the constraints specified by an AWS service.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "Updating or deleting a resource can cause an inconsistent state.",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "User does not have sufficient access to perform this action.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateCellRequest",
        "variableName" : "createCellRequest",
        "variableType" : "CreateCellRequest",
        "documentation" : "The Cell to create",
        "simpleType" : "CreateCellRequest",
        "variableSetterType" : "CreateCellRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCell",
      "operationName" : "CreateCell",
      "returnType" : {
        "returnType" : "CreateCellResult",
        "documentation" : "Result of a CreateCell call"
      },
      "syncReturnType" : "CreateCellResult"
    },
    "CreateCrossAccountAuthorization" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateCrossAccountAuthorizationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateCrossAccountAuthorizationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCrossAccountAuthorizationRequest, CreateCrossAccountAuthorizationResult>",
      "asyncReturnType" : "CreateCrossAccountAuthorizationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Create a new cross account readiness authorization.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "Request was denied due to request throttling.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "The input fails to satisfy the constraints specified by an AWS service.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "Updating or deleting a resource can cause an inconsistent state.",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "User does not have sufficient access to perform this action.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateCrossAccountAuthorizationRequest",
        "variableName" : "createCrossAccountAuthorizationRequest",
        "variableType" : "CreateCrossAccountAuthorizationRequest",
        "documentation" : "The cross account authorization",
        "simpleType" : "CreateCrossAccountAuthorizationRequest",
        "variableSetterType" : "CreateCrossAccountAuthorizationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCrossAccountAuthorization",
      "operationName" : "CreateCrossAccountAuthorization",
      "returnType" : {
        "returnType" : "CreateCrossAccountAuthorizationResult",
        "documentation" : "Result of a CreateCrossAccountAuthorization call"
      },
      "syncReturnType" : "CreateCrossAccountAuthorizationResult"
    },
    "CreateReadinessCheck" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateReadinessCheckResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateReadinessCheckResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateReadinessCheckRequest, CreateReadinessCheckResult>",
      "asyncReturnType" : "CreateReadinessCheckResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates a new Readiness Check.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "Request was denied due to request throttling.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "The input fails to satisfy the constraints specified by an AWS service.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "Updating or deleting a resource can cause an inconsistent state.",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "User does not have sufficient access to perform this action.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateReadinessCheckRequest",
        "variableName" : "createReadinessCheckRequest",
        "variableType" : "CreateReadinessCheckRequest",
        "documentation" : "The ReadinessCheck to create",
        "simpleType" : "CreateReadinessCheckRequest",
        "variableSetterType" : "CreateReadinessCheckRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createReadinessCheck",
      "operationName" : "CreateReadinessCheck",
      "returnType" : {
        "returnType" : "CreateReadinessCheckResult",
        "documentation" : "Result of a CreateReadinessCheck call"
      },
      "syncReturnType" : "CreateReadinessCheckResult"
    },
    "CreateRecoveryGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRecoveryGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRecoveryGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRecoveryGroupRequest, CreateRecoveryGroupResult>",
      "asyncReturnType" : "CreateRecoveryGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates a new Recovery Group.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "Request was denied due to request throttling.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "The input fails to satisfy the constraints specified by an AWS service.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "Updating or deleting a resource can cause an inconsistent state.",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "User does not have sufficient access to perform this action.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateRecoveryGroupRequest",
        "variableName" : "createRecoveryGroupRequest",
        "variableType" : "CreateRecoveryGroupRequest",
        "documentation" : "The RecoveryGroup to create",
        "simpleType" : "CreateRecoveryGroupRequest",
        "variableSetterType" : "CreateRecoveryGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRecoveryGroup",
      "operationName" : "CreateRecoveryGroup",
      "returnType" : {
        "returnType" : "CreateRecoveryGroupResult",
        "documentation" : "Result of a CreateRecoveryGroup call"
      },
      "syncReturnType" : "CreateRecoveryGroupResult"
    },
    "CreateResourceSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateResourceSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateResourceSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateResourceSetRequest, CreateResourceSetResult>",
      "asyncReturnType" : "CreateResourceSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates a new Resource Set.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "Request was denied due to request throttling.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "The input fails to satisfy the constraints specified by an AWS service.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "Updating or deleting a resource can cause an inconsistent state.",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "User does not have sufficient access to perform this action.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateResourceSetRequest",
        "variableName" : "createResourceSetRequest",
        "variableType" : "CreateResourceSetRequest",
        "documentation" : "The ResourceSet to create",
        "simpleType" : "CreateResourceSetRequest",
        "variableSetterType" : "CreateResourceSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createResourceSet",
      "operationName" : "CreateResourceSet",
      "returnType" : {
        "returnType" : "CreateResourceSetResult",
        "documentation" : "Result of a CreateResourceSet call"
      },
      "syncReturnType" : "CreateResourceSetResult"
    },
    "DeleteCell" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCellResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCellResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCellRequest, DeleteCellResult>",
      "asyncReturnType" : "DeleteCellResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes an existing Cell.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "Request was denied due to request throttling.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "The input fails to satisfy the constraints specified by an AWS service.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "User does not have sufficient access to perform this action.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteCellRequest",
        "variableName" : "deleteCellRequest",
        "variableType" : "DeleteCellRequest",
        "documentation" : "",
        "simpleType" : "DeleteCellRequest",
        "variableSetterType" : "DeleteCellRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCell",
      "operationName" : "DeleteCell",
      "returnType" : {
        "returnType" : "DeleteCellResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteCellResult"
    },
    "DeleteCrossAccountAuthorization" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCrossAccountAuthorizationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCrossAccountAuthorizationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCrossAccountAuthorizationRequest, DeleteCrossAccountAuthorizationResult>",
      "asyncReturnType" : "DeleteCrossAccountAuthorizationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Delete cross account readiness authorization",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "Request was denied due to request throttling.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "The input fails to satisfy the constraints specified by an AWS service.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "User does not have sufficient access to perform this action.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteCrossAccountAuthorizationRequest",
        "variableName" : "deleteCrossAccountAuthorizationRequest",
        "variableType" : "DeleteCrossAccountAuthorizationRequest",
        "documentation" : "",
        "simpleType" : "DeleteCrossAccountAuthorizationRequest",
        "variableSetterType" : "DeleteCrossAccountAuthorizationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCrossAccountAuthorization",
      "operationName" : "DeleteCrossAccountAuthorization",
      "returnType" : {
        "returnType" : "DeleteCrossAccountAuthorizationResult",
        "documentation" : "Result of a DeleteCrossAccountAuthorization call"
      },
      "syncReturnType" : "DeleteCrossAccountAuthorizationResult"
    },
    "DeleteReadinessCheck" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteReadinessCheckResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteReadinessCheckResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteReadinessCheckRequest, DeleteReadinessCheckResult>",
      "asyncReturnType" : "DeleteReadinessCheckResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes an existing Readiness Check.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "Request was denied due to request throttling.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "The input fails to satisfy the constraints specified by an AWS service.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "User does not have sufficient access to perform this action.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteReadinessCheckRequest",
        "variableName" : "deleteReadinessCheckRequest",
        "variableType" : "DeleteReadinessCheckRequest",
        "documentation" : "",
        "simpleType" : "DeleteReadinessCheckRequest",
        "variableSetterType" : "DeleteReadinessCheckRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteReadinessCheck",
      "operationName" : "DeleteReadinessCheck",
      "returnType" : {
        "returnType" : "DeleteReadinessCheckResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteReadinessCheckResult"
    },
    "DeleteRecoveryGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRecoveryGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRecoveryGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRecoveryGroupRequest, DeleteRecoveryGroupResult>",
      "asyncReturnType" : "DeleteRecoveryGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes an existing Recovery Group.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "Request was denied due to request throttling.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "The input fails to satisfy the constraints specified by an AWS service.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "User does not have sufficient access to perform this action.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRecoveryGroupRequest",
        "variableName" : "deleteRecoveryGroupRequest",
        "variableType" : "DeleteRecoveryGroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteRecoveryGroupRequest",
        "variableSetterType" : "DeleteRecoveryGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRecoveryGroup",
      "operationName" : "DeleteRecoveryGroup",
      "returnType" : {
        "returnType" : "DeleteRecoveryGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRecoveryGroupResult"
    },
    "DeleteResourceSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteResourceSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteResourceSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteResourceSetRequest, DeleteResourceSetResult>",
      "asyncReturnType" : "DeleteResourceSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes an existing Resource Set.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "Request was denied due to request throttling.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "The input fails to satisfy the constraints specified by an AWS service.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "User does not have sufficient access to perform this action.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteResourceSetRequest",
        "variableName" : "deleteResourceSetRequest",
        "variableType" : "DeleteResourceSetRequest",
        "documentation" : "",
        "simpleType" : "DeleteResourceSetRequest",
        "variableSetterType" : "DeleteResourceSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteResourceSet",
      "operationName" : "DeleteResourceSet",
      "returnType" : {
        "returnType" : "DeleteResourceSetResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteResourceSetResult"
    },
    "GetArchitectureRecommendations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetArchitectureRecommendationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetArchitectureRecommendationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetArchitectureRecommendationsRequest, GetArchitectureRecommendationsResult>",
      "asyncReturnType" : "GetArchitectureRecommendationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns a collection of recommendations to improve resilliance and readiness check quality for a Recovery Group.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "Request was denied due to request throttling.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "The input fails to satisfy the constraints specified by an AWS service.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "User does not have sufficient access to perform this action.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetArchitectureRecommendationsRequest",
        "variableName" : "getArchitectureRecommendationsRequest",
        "variableType" : "GetArchitectureRecommendationsRequest",
        "documentation" : "",
        "simpleType" : "GetArchitectureRecommendationsRequest",
        "variableSetterType" : "GetArchitectureRecommendationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getArchitectureRecommendations",
      "operationName" : "GetArchitectureRecommendations",
      "returnType" : {
        "returnType" : "GetArchitectureRecommendationsResult",
        "documentation" : "Result of a GetArchitectureRecommendations call"
      },
      "syncReturnType" : "GetArchitectureRecommendationsResult"
    },
    "GetCell" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCellResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCellResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCellRequest, GetCellResult>",
      "asyncReturnType" : "GetCellResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns information about a Cell.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "Request was denied due to request throttling.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "The input fails to satisfy the constraints specified by an AWS service.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "User does not have sufficient access to perform this action.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCellRequest",
        "variableName" : "getCellRequest",
        "variableType" : "GetCellRequest",
        "documentation" : "",
        "simpleType" : "GetCellRequest",
        "variableSetterType" : "GetCellRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCell",
      "operationName" : "GetCell",
      "returnType" : {
        "returnType" : "GetCellResult",
        "documentation" : "Result of a GetCell call"
      },
      "syncReturnType" : "GetCellResult"
    },
    "GetCellReadinessSummary" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCellReadinessSummaryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCellReadinessSummaryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCellReadinessSummaryRequest, GetCellReadinessSummaryResult>",
      "asyncReturnType" : "GetCellReadinessSummaryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns information about readiness of a Cell.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "Request was denied due to request throttling.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "The input fails to satisfy the constraints specified by an AWS service.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "User does not have sufficient access to perform this action.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCellReadinessSummaryRequest",
        "variableName" : "getCellReadinessSummaryRequest",
        "variableType" : "GetCellReadinessSummaryRequest",
        "documentation" : "",
        "simpleType" : "GetCellReadinessSummaryRequest",
        "variableSetterType" : "GetCellReadinessSummaryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCellReadinessSummary",
      "operationName" : "GetCellReadinessSummary",
      "returnType" : {
        "returnType" : "GetCellReadinessSummaryResult",
        "documentation" : "Result of a GetCellReadinessSummary call"
      },
      "syncReturnType" : "GetCellReadinessSummaryResult"
    },
    "GetReadinessCheck" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetReadinessCheckResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetReadinessCheckResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetReadinessCheckRequest, GetReadinessCheckResult>",
      "asyncReturnType" : "GetReadinessCheckResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns information about a ReadinessCheck.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "Request was denied due to request throttling.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "The input fails to satisfy the constraints specified by an AWS service.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "User does not have sufficient access to perform this action.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetReadinessCheckRequest",
        "variableName" : "getReadinessCheckRequest",
        "variableType" : "GetReadinessCheckRequest",
        "documentation" : "",
        "simpleType" : "GetReadinessCheckRequest",
        "variableSetterType" : "GetReadinessCheckRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getReadinessCheck",
      "operationName" : "GetReadinessCheck",
      "returnType" : {
        "returnType" : "GetReadinessCheckResult",
        "documentation" : "Result of a GetReadinessCheck call"
      },
      "syncReturnType" : "GetReadinessCheckResult"
    },
    "GetReadinessCheckResourceStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetReadinessCheckResourceStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetReadinessCheckResourceStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetReadinessCheckResourceStatusRequest, GetReadinessCheckResourceStatusResult>",
      "asyncReturnType" : "GetReadinessCheckResourceStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns detailed information about the status of an individual resource within a Readiness Check's Resource Set.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "Request was denied due to request throttling.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "The input fails to satisfy the constraints specified by an AWS service.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "User does not have sufficient access to perform this action.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetReadinessCheckResourceStatusRequest",
        "variableName" : "getReadinessCheckResourceStatusRequest",
        "variableType" : "GetReadinessCheckResourceStatusRequest",
        "documentation" : "",
        "simpleType" : "GetReadinessCheckResourceStatusRequest",
        "variableSetterType" : "GetReadinessCheckResourceStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getReadinessCheckResourceStatus",
      "operationName" : "GetReadinessCheckResourceStatus",
      "returnType" : {
        "returnType" : "GetReadinessCheckResourceStatusResult",
        "documentation" : "Result of a GetReadinessCheckResourceStatus call"
      },
      "syncReturnType" : "GetReadinessCheckResourceStatusResult"
    },
    "GetReadinessCheckStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetReadinessCheckStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetReadinessCheckStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetReadinessCheckStatusRequest, GetReadinessCheckStatusResult>",
      "asyncReturnType" : "GetReadinessCheckStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns information about the status of a Readiness Check.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "Request was denied due to request throttling.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "The input fails to satisfy the constraints specified by an AWS service.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "User does not have sufficient access to perform this action.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetReadinessCheckStatusRequest",
        "variableName" : "getReadinessCheckStatusRequest",
        "variableType" : "GetReadinessCheckStatusRequest",
        "documentation" : "",
        "simpleType" : "GetReadinessCheckStatusRequest",
        "variableSetterType" : "GetReadinessCheckStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getReadinessCheckStatus",
      "operationName" : "GetReadinessCheckStatus",
      "returnType" : {
        "returnType" : "GetReadinessCheckStatusResult",
        "documentation" : "Result of a GetReadinessCheckStatus call"
      },
      "syncReturnType" : "GetReadinessCheckStatusResult"
    },
    "GetRecoveryGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRecoveryGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRecoveryGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRecoveryGroupRequest, GetRecoveryGroupResult>",
      "asyncReturnType" : "GetRecoveryGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns information about a Recovery Group.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "Request was denied due to request throttling.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "The input fails to satisfy the constraints specified by an AWS service.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "User does not have sufficient access to perform this action.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRecoveryGroupRequest",
        "variableName" : "getRecoveryGroupRequest",
        "variableType" : "GetRecoveryGroupRequest",
        "documentation" : "",
        "simpleType" : "GetRecoveryGroupRequest",
        "variableSetterType" : "GetRecoveryGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRecoveryGroup",
      "operationName" : "GetRecoveryGroup",
      "returnType" : {
        "returnType" : "GetRecoveryGroupResult",
        "documentation" : "Result of a GetRecoveryGroup call"
      },
      "syncReturnType" : "GetRecoveryGroupResult"
    },
    "GetRecoveryGroupReadinessSummary" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRecoveryGroupReadinessSummaryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRecoveryGroupReadinessSummaryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRecoveryGroupReadinessSummaryRequest, GetRecoveryGroupReadinessSummaryResult>",
      "asyncReturnType" : "GetRecoveryGroupReadinessSummaryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns information about a Recovery Group.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "Request was denied due to request throttling.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "The input fails to satisfy the constraints specified by an AWS service.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "User does not have sufficient access to perform this action.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRecoveryGroupReadinessSummaryRequest",
        "variableName" : "getRecoveryGroupReadinessSummaryRequest",
        "variableType" : "GetRecoveryGroupReadinessSummaryRequest",
        "documentation" : "",
        "simpleType" : "GetRecoveryGroupReadinessSummaryRequest",
        "variableSetterType" : "GetRecoveryGroupReadinessSummaryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRecoveryGroupReadinessSummary",
      "operationName" : "GetRecoveryGroupReadinessSummary",
      "returnType" : {
        "returnType" : "GetRecoveryGroupReadinessSummaryResult",
        "documentation" : "Result of a GetRecoveryGroupReadinessSummary call"
      },
      "syncReturnType" : "GetRecoveryGroupReadinessSummaryResult"
    },
    "GetResourceSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResourceSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResourceSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResourceSetRequest, GetResourceSetResult>",
      "asyncReturnType" : "GetResourceSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns information about a Resource Set.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "Request was denied due to request throttling.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "The input fails to satisfy the constraints specified by an AWS service.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "User does not have sufficient access to perform this action.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResourceSetRequest",
        "variableName" : "getResourceSetRequest",
        "variableType" : "GetResourceSetRequest",
        "documentation" : "",
        "simpleType" : "GetResourceSetRequest",
        "variableSetterType" : "GetResourceSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResourceSet",
      "operationName" : "GetResourceSet",
      "returnType" : {
        "returnType" : "GetResourceSetResult",
        "documentation" : "Result of a GetResourceSets call"
      },
      "syncReturnType" : "GetResourceSetResult"
    },
    "ListCells" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListCellsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListCellsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCellsRequest, ListCellsResult>",
      "asyncReturnType" : "ListCellsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns a collection of Cells.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "Request was denied due to request throttling.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "The input fails to satisfy the constraints specified by an AWS service.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "User does not have sufficient access to perform this action.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListCellsRequest",
        "variableName" : "listCellsRequest",
        "variableType" : "ListCellsRequest",
        "documentation" : "",
        "simpleType" : "ListCellsRequest",
        "variableSetterType" : "ListCellsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listCells",
      "operationName" : "ListCells",
      "returnType" : {
        "returnType" : "ListCellsResult",
        "documentation" : "Result of a ListCells call"
      },
      "syncReturnType" : "ListCellsResult"
    },
    "ListCrossAccountAuthorizations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListCrossAccountAuthorizationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListCrossAccountAuthorizationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCrossAccountAuthorizationsRequest, ListCrossAccountAuthorizationsResult>",
      "asyncReturnType" : "ListCrossAccountAuthorizationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns a collection of cross account readiness authorizations.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "Request was denied due to request throttling.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "The input fails to satisfy the constraints specified by an AWS service.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "User does not have sufficient access to perform this action.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListCrossAccountAuthorizationsRequest",
        "variableName" : "listCrossAccountAuthorizationsRequest",
        "variableType" : "ListCrossAccountAuthorizationsRequest",
        "documentation" : "",
        "simpleType" : "ListCrossAccountAuthorizationsRequest",
        "variableSetterType" : "ListCrossAccountAuthorizationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listCrossAccountAuthorizations",
      "operationName" : "ListCrossAccountAuthorizations",
      "returnType" : {
        "returnType" : "ListCrossAccountAuthorizationsResult",
        "documentation" : "Result of a ListCrossAccountAuthorizations call"
      },
      "syncReturnType" : "ListCrossAccountAuthorizationsResult"
    },
    "ListReadinessChecks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListReadinessChecksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListReadinessChecksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListReadinessChecksRequest, ListReadinessChecksResult>",
      "asyncReturnType" : "ListReadinessChecksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns a collection of Readiness Checks.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "Request was denied due to request throttling.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "The input fails to satisfy the constraints specified by an AWS service.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "User does not have sufficient access to perform this action.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListReadinessChecksRequest",
        "variableName" : "listReadinessChecksRequest",
        "variableType" : "ListReadinessChecksRequest",
        "documentation" : "",
        "simpleType" : "ListReadinessChecksRequest",
        "variableSetterType" : "ListReadinessChecksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listReadinessChecks",
      "operationName" : "ListReadinessChecks",
      "returnType" : {
        "returnType" : "ListReadinessChecksResult",
        "documentation" : "Result of a ListReadinessChecks call"
      },
      "syncReturnType" : "ListReadinessChecksResult"
    },
    "ListRecoveryGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRecoveryGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRecoveryGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRecoveryGroupsRequest, ListRecoveryGroupsResult>",
      "asyncReturnType" : "ListRecoveryGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns a collection of Recovery Groups.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "Request was denied due to request throttling.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "The input fails to satisfy the constraints specified by an AWS service.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "User does not have sufficient access to perform this action.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRecoveryGroupsRequest",
        "variableName" : "listRecoveryGroupsRequest",
        "variableType" : "ListRecoveryGroupsRequest",
        "documentation" : "",
        "simpleType" : "ListRecoveryGroupsRequest",
        "variableSetterType" : "ListRecoveryGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRecoveryGroups",
      "operationName" : "ListRecoveryGroups",
      "returnType" : {
        "returnType" : "ListRecoveryGroupsResult",
        "documentation" : "Result of a ListRecoveryGroups call"
      },
      "syncReturnType" : "ListRecoveryGroupsResult"
    },
    "ListResourceSets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResourceSetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResourceSetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResourceSetsRequest, ListResourceSetsResult>",
      "asyncReturnType" : "ListResourceSetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns a collection of Resource Sets.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "Request was denied due to request throttling.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "The input fails to satisfy the constraints specified by an AWS service.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "User does not have sufficient access to perform this action.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListResourceSetsRequest",
        "variableName" : "listResourceSetsRequest",
        "variableType" : "ListResourceSetsRequest",
        "documentation" : "",
        "simpleType" : "ListResourceSetsRequest",
        "variableSetterType" : "ListResourceSetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResourceSets",
      "operationName" : "ListResourceSets",
      "returnType" : {
        "returnType" : "ListResourceSetsResult",
        "documentation" : "Result of a ListResourceSets call"
      },
      "syncReturnType" : "ListResourceSetsResult"
    },
    "ListRules" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRulesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRulesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRulesRequest, ListRulesResult>",
      "asyncReturnType" : "ListRulesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns a collection of rules that are applied as part of Readiness Checks.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "Request was denied due to request throttling.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "The input fails to satisfy the constraints specified by an AWS service.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "User does not have sufficient access to perform this action.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRulesRequest",
        "variableName" : "listRulesRequest",
        "variableType" : "ListRulesRequest",
        "documentation" : "",
        "simpleType" : "ListRulesRequest",
        "variableSetterType" : "ListRulesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRules",
      "operationName" : "ListRules",
      "returnType" : {
        "returnType" : "ListRulesResult",
        "documentation" : "Result of a ListRules call"
      },
      "syncReturnType" : "ListRulesResult"
    },
    "ListTagsForResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourcesRequest, ListTagsForResourcesResult>",
      "asyncReturnType" : "ListTagsForResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns a list of the tags assigned to the specified resource.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "requested resource was not found",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "an invalid request",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "Internal service error",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourcesRequest",
        "variableName" : "listTagsForResourcesRequest",
        "variableType" : "ListTagsForResourcesRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourcesRequest",
        "variableSetterType" : "ListTagsForResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResources",
      "operationName" : "ListTagsForResources",
      "returnType" : {
        "returnType" : "ListTagsForResourcesResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "ListTagsForResourcesResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Adds tags to the specified resource. You can specify one or more tags to add.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "requested resource was not found",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "an invalid request",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "Internal service error",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Removes tags from the specified resource. You can specify one or more tags to remove.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "requested resource was not found",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "an invalid request",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "Internal service error",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateCell" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateCellResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateCellResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateCellRequest, UpdateCellResult>",
      "asyncReturnType" : "UpdateCellResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Updates an existing Cell.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "Request was denied due to request throttling.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "The input fails to satisfy the constraints specified by an AWS service.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "User does not have sufficient access to perform this action.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateCellRequest",
        "variableName" : "updateCellRequest",
        "variableType" : "UpdateCellRequest",
        "documentation" : "Parameters to update for the Cell",
        "simpleType" : "UpdateCellRequest",
        "variableSetterType" : "UpdateCellRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateCell",
      "operationName" : "UpdateCell",
      "returnType" : {
        "returnType" : "UpdateCellResult",
        "documentation" : "Result of a UpdateCell call"
      },
      "syncReturnType" : "UpdateCellResult"
    },
    "UpdateReadinessCheck" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateReadinessCheckResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateReadinessCheckResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateReadinessCheckRequest, UpdateReadinessCheckResult>",
      "asyncReturnType" : "UpdateReadinessCheckResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Updates an exisiting Readiness Check.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "Request was denied due to request throttling.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "The input fails to satisfy the constraints specified by an AWS service.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "User does not have sufficient access to perform this action.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateReadinessCheckRequest",
        "variableName" : "updateReadinessCheckRequest",
        "variableType" : "UpdateReadinessCheckRequest",
        "documentation" : "The new Readiness Check values",
        "simpleType" : "UpdateReadinessCheckRequest",
        "variableSetterType" : "UpdateReadinessCheckRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateReadinessCheck",
      "operationName" : "UpdateReadinessCheck",
      "returnType" : {
        "returnType" : "UpdateReadinessCheckResult",
        "documentation" : "Result of a UpdateReadinessChecks call"
      },
      "syncReturnType" : "UpdateReadinessCheckResult"
    },
    "UpdateRecoveryGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateRecoveryGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateRecoveryGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateRecoveryGroupRequest, UpdateRecoveryGroupResult>",
      "asyncReturnType" : "UpdateRecoveryGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Updates an existing Recovery Group.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "Request was denied due to request throttling.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "The input fails to satisfy the constraints specified by an AWS service.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "User does not have sufficient access to perform this action.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateRecoveryGroupRequest",
        "variableName" : "updateRecoveryGroupRequest",
        "variableType" : "UpdateRecoveryGroupRequest",
        "documentation" : "Parameters to update for the RecoveryGroup",
        "simpleType" : "UpdateRecoveryGroupRequest",
        "variableSetterType" : "UpdateRecoveryGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateRecoveryGroup",
      "operationName" : "UpdateRecoveryGroup",
      "returnType" : {
        "returnType" : "UpdateRecoveryGroupResult",
        "documentation" : "Result of a UpdateRecoveryGroups call"
      },
      "syncReturnType" : "UpdateRecoveryGroupResult"
    },
    "UpdateResourceSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateResourceSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateResourceSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateResourceSetRequest, UpdateResourceSetResult>",
      "asyncReturnType" : "UpdateResourceSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Updates an existing Resource Set.",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "The requested resource does not exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "Request was denied due to request throttling.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "The input fails to satisfy the constraints specified by an AWS service.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "An unexpected error occurred.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "User does not have sufficient access to perform this action.",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateResourceSetRequest",
        "variableName" : "updateResourceSetRequest",
        "variableType" : "UpdateResourceSetRequest",
        "documentation" : "configuration for the desired",
        "simpleType" : "UpdateResourceSetRequest",
        "variableSetterType" : "UpdateResourceSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateResourceSet",
      "operationName" : "UpdateResourceSet",
      "returnType" : {
        "returnType" : "UpdateResourceSetResult",
        "documentation" : "Result of a UpdateResourceSets call"
      },
      "syncReturnType" : "UpdateResourceSetResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "User does not have sufficient access to perform this action.",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.route53recoveryreadiness.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.route53recoveryreadiness.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "CellOutput" : {
      "c2jName" : "CellOutput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "A Cell and its properties",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.route53recoveryreadiness.model.CellOutput",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "CellArn",
        "c2jShape" : "__stringMax256",
        "deprecated" : false,
        "documentation" : "The arn for the Cell",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The arn for the Cell\n@param cellArn The arn for the Cell\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCellArn",
        "getterDocumentation" : "/**The arn for the Cell\n@return The arn for the Cell*/",
        "getterMethodName" : "getCellArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "cellArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "cellArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CellArn",
        "sensitive" : false,
        "setterDocumentation" : "/**The arn for the Cell\n@param cellArn The arn for the Cell*/",
        "setterMethodName" : "setCellArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "cellArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The arn for the Cell\n@param cellArn The arn for the Cell\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "cellArn",
          "variableType" : "String",
          "documentation" : "The arn for the Cell",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CellName",
        "c2jShape" : "__stringMax64PatternAAZAZ09Z",
        "deprecated" : false,
        "documentation" : "The name of the Cell",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The name of the Cell\n@param cellName The name of the Cell\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCellName",
        "getterDocumentation" : "/**The name of the Cell\n@return The name of the Cell*/",
        "getterMethodName" : "getCellName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "cellName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "cellName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CellName",
        "sensitive" : false,
        "setterDocumentation" : "/**The name of the Cell\n@param cellName The name of the Cell*/",
        "setterMethodName" : "setCellName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "cellName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The name of the Cell\n@param cellName The name of the Cell\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "cellName",
          "variableType" : "String",
          "documentation" : "The name of the Cell",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Cells",
        "c2jShape" : "__listOf__string",
        "deprecated" : false,
        "documentation" : "A list of Cell arns",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**A list of Cell arns\n@param cells A list of Cell arns\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCells",
        "getterDocumentation" : "/**A list of Cell arns\n@return A list of Cell arns*/",
        "getterMethodName" : "getCells",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "cells",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "cells",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "__string",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Cells",
        "sensitive" : false,
        "setterDocumentation" : "/**A list of Cell arns\n@param cells A list of Cell arns*/",
        "setterMethodName" : "setCells",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "cells",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**A list of Cell arns\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setCells(java.util.Collection)} or {@link #withCells(java.util.Collection)} if you want to override the existing values.</p>\n@param cells A list of Cell arns\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "cells",
          "variableType" : "java.util.List<String>",
          "documentation" : "A list of Cell arns",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ParentReadinessScopes",
        "c2jShape" : "__listOf__string",
        "deprecated" : false,
        "documentation" : "A list of Cell ARNs and/or RecoveryGroup ARNs",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**A list of Cell ARNs and/or RecoveryGroup ARNs\n@param parentReadinessScopes A list of Cell ARNs and/or RecoveryGroup ARNs\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withParentReadinessScopes",
        "getterDocumentation" : "/**A list of Cell ARNs and/or RecoveryGroup ARNs\n@return A list of Cell ARNs and/or RecoveryGroup ARNs*/",
        "getterMethodName" : "getParentReadinessScopes",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "parentReadinessScopes",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "parentReadinessScopes",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "__string",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "ParentReadinessScopes",
        "sensitive" : false,
        "setterDocumentation" : "/**A list of Cell ARNs and/or RecoveryGroup ARNs\n@param parentReadinessScopes A list of Cell ARNs and/or RecoveryGroup ARNs*/",
        "setterMethodName" : "setParentReadinessScopes",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "parentReadinessScopes",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**A list of Cell ARNs and/or RecoveryGroup ARNs\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setParentReadinessScopes(java.util.Collection)} or {@link #withParentReadinessScopes(java.util.Collection)} if you want to override the existing values.</p>\n@param parentReadinessScopes A list of Cell ARNs and/or RecoveryGroup ARNs\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "parentReadinessScopes",
          "variableType" : "java.util.List<String>",
          "documentation" : "A list of Cell ARNs and/or RecoveryGroup ARNs",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Tags",
        "c2jShape" : "Tags",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param tags \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTags",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getTags",
        "getterModel" : {
          "returnType" : "java.util.Map<String,String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "tags",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "tags",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "__string",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
[...]
